@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap');
*{
  font-family: 'Raleway',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
$yellow:#eacf4f;
$light-color:#E9E9E9;
$ping-color: #D50744;
$border-ping-color:#cc0440;
$blue:#2E5095;
$white:#fff;
$black:#000;

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
  
    &::-webkit-scrollbar{
      width: 1rem;
    }
  
    &::-webkit-scrollbar-track{
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb{
     /*  background: $yellow; */
      border-radius: 5rem;
    }
  }

 .container{
     display: flex;
 } 
 .section{
     width: 80%;
     background: $light-color;
     display: flex;
     justify-content: center;
     .home{
         width: 85%;
         background: $white;
         display: flex;
         padding-top: 3%;
         position: relative;
         .box-whon{
             width: 90%;
             height: 90%;
             padding-top: 25%;
             padding-left: 8%;
             h2{
                 font-size: 5rem;
                 letter-spacing: 0.7rem;
                 margin-bottom: 2%;
             }
             a{
                 font-size: 2rem;
                 text-decoration: none;
                 color: $white;
                 padding: 10px 40px;
                 margin-right: 50px;
             }
             .btn-afiliate{
                position: relative;
                background: $white;
                border: 2px solid $blue;
                font-weight: bold;
                color: $blue;
                &::after{
                    content: 'AFÍLIATE';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    background: $blue;
                    transition: 0.2s;
                    text-align: center;
                    z-index: -1;
                }

                &:hover::after{
                    width: 100%;
                    height: 100%;
                    color: white;
                    line-height: 200%;
                    z-index: 1;
                }
             }
             .btn-donar{
                position: relative;
                background: $ping-color;
                border: 2px solid $ping-color;
                &::after{
                    content: 'DONAR';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    background: $white;
                    transition: 0.2s;
                    text-align: center;
                    z-index: -1;
                }

                &:hover::after{
                    width: 100%;
                    height: 100%;
                    color: $ping-color;
                    line-height: 200%;
                    z-index: 1;
                }
             }

             .profile{
                 margin-top: 30%;
                 background: red;
             }
         }
         .box-tho{
            width: 10%;
            background:$ping-color;
            height: 90%;
         }
         img{
             position: absolute;
             right: 100px;
             bottom: 150px;
             box-shadow: 0px 0px 10px rgba(0,0,0,.5);
         }
     }
 }
 .navbar{
    background: $ping-color;
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    .logo{
        margin-left: 30%;
        img{
            max-width: 180px;
        }
    }
    
    ul{
        margin-top: 15%;
      
        li{
            margin: 2rem 0;
            list-style: none;
            border-bottom: 1px solid $border-ping-color;
            padding: 1rem 0;
            a{
              margin: 0 5rem; 
              font-size: 1.2rem;
              color: $white;
              font-weight: 500;
              position: relative;
              &::after{
                  content: "";
                  position: absolute;
                  background: $white;
                  height: 2px;
                  width: 0;
                  left: 0;
                  bottom: -7px;
                  transition: 0.1s;
              }

              &:hover::after{
                width: 100%;
              }
            }
        }
    }

    .social-profile{
        text-align: center;
        span{
            font-size: 2rem;
            margin: 1rem;
            color: $white;
        }
        span:hover{
            color: $blue; 
        }
    }
 }  